@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  input::placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Target webkit (Safari & iOS Chrome) */
  @supports (hanging-punctuation: first) and (font: -apple-system-body) and
    (-webkit-appearance: none) {
    input::placeholder {
      top: 0;
      transform: translateY(0);
    }
  }

  .text-balance {
    text-wrap: balance;
  }

  .truncate-3-lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; /* 줄 수 제한 */
    line-clamp: 3; /* 표준 속성 */
    text-overflow: ellipsis;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .darkmode img {
    filter: hue-rotate(180deg) invert(85%);
  }

  .invitation-gradient {
    background: linear-gradient(180deg, rgba(33, 33, 36, 0%) 0%, #212124 30%);
  }

  .header-gradient {
    background: linear-gradient(180deg, #212124 70%, rgba(33, 33, 36, 0%) 100%);
  }

  .map-header-gradient {
    background: linear-gradient(180deg, rgba(33, 33, 36, 70%) 100%, #212124 0%);
  }
}
